@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sweeter.Models.AccountModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="~/js/require.js"></script>
    <script type="text/javascript" src="~/js/RegisterPageScripts.js"></script>
    <link rel="stylesheet" href="~/lib/src/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/src/style.css">
    <link rel="icon" type="image/png" href="~/lib/img/logo.png">
    <link rel="shortcut icon" href="~/lib/img/logo.png" type="image/png">
    <title>Your profile</title>
</head>
<body>
    <!--Intoduction-->
    <div class="row">
        <div class="col-md-2 col-xs-1 col-lg-2 col-sm-2"></div>
        <div class="col-md-8 col-xs-10 col-lg-8 col-sm-8">

            <h1 class="headlabel">Write your password to continue</h1>
        </div>
        <div class="col-md-2 col-xs-1 col-lg-2 col-sm-2"></div>
    </div>
    <!--Picture-->
    <div class="forma">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3 col-xs-0 col-lg-3 col-sm-3" style="text-align:center">
                    <p>
                        <img src=@ViewData["Pic"] id="imageshow" width=68%>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="text-align:center">
                                <label class="btn btn-default btn-file">Edit your avatar
                    <p style="text-align:right"></p>
                    <input type="file" onchange="upload()" accept="image/*" name="avatar" value="avatar" id="avatar" style="display:none" />
                </div>
            </div>
        </form>
    </div>
    <!--First part-->
    <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
        <p><label for="name" style="text-align:center">Your Full Name </label>
        <p><input type="text" name="name" id="name" class="textin" value=@Model.Name></input>
        <p><label for="username" style="text-align:center">Your Username </label>
        <p><input type="text" name="username" class="textin" id="username" value=@Model.Username onchange="clearerror()" required></input>
        <p><label for="email" style="text-align:center">Your E-mail</label>
        <p>
            <input type="Email" id="email" name="Email" class="textin" value=@Model.Email oninput="checkemail()" required></input>
            <input type="Email" id="email" name="Email" class="textin" value=@ViewData["Email"] oninput="checkemail()" required></input>
            <!--Second part-->
        <p><label for="password" style="text-align:center">Your Password* </label>
        <p>
            <input type="password" name="password" id="password" class="textin" required></input>
            <!--Submit-->
        <p style="text-align:center">
            <input type="submit" class="but" id="Change" value="Change"></input>
            <h1 class="headlabel" id="error">@ViewData["Error"]</h1>
    </div>
</body>
</html>
