USE [master]
GO
/****** Object:  Database [JayBase]    Script Date: 1/28/2018 12:59:09 PM ******/
IF NOT EXISTS CREATE DATABASE [JayBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JayBase', FILENAME = N'JayBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JayBase_log', FILENAME = N'JayBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JayBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JayBase]
GO
USE [JayBase]
GO
/****** Object:  Table [dbo].[AccountTable]    Script Date: 1/28/2018 12:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentTable]    Script Date: 1/28/2018 12:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDpost] [int] NOT NULL,
	[IDauthor] [int] NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
	[LikesNumber] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikesToComments]    Script Date: 1/28/2018 12:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikesToComments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDComment] [int] NOT NULL,
	[IDAuthor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikesToPostsTable]    Script Date: 1/28/2018 12:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikesToPostsTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDpost] [int] NOT NULL,
	[IDauthor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsTable]    Script Date: 1/28/2018 12:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsTable](
	[ID] [int] NOT NULL,
	[IDauthor] [int] NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
	[PublicDate] [datetime] NOT NULL,
	[LikesNumber] [int] NOT NULL,
	[CommentNumber] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentTable] ADD  CONSTRAINT [DF_CommentTable_LikesNumber]  DEFAULT ((0)) FOR [LikesNumber]
GO
USE [master]
GO
