@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/lib/src/bootstrap.min.css">
    <script data-main="scripts/main" src="~/js/require.js"></script>
    <link rel="stylesheet" href="~/lib/src/style.css">
    <link rel="icon" type="image/png" href="~/lib/img/logo.png">
    <link rel="shortcut icon" href="~/lib/img/logo.png" type="image/png">
    <title>Starting Jay</title>
</head>
<body>
    <div class="forma">
       
        <form method="post">
         
        <div class="row">
            <div class="col-md-5 col-xs-4 col-lg-5 col-sm-5"></div>
            <div class="col-md-2 col-xs-4 col-lg-2 col-sm-2">
                <span style="text-align:center"><img src="~/lib/img/logo.png" class="logo">
            </div>
            <div class="col-md-5 col-xs-4 col-lg-5 col-sm-5"></div>

        </div>
        <div class="row">
            <div class="col-md-2 col-xs-1 col-lg-2 col-sm-2"></div>
            <div class="col-md-8 col-xs-10 col-lg-8 col-sm-8">
                <h1 class="headlabel">Welcome to JAY, dear User!</h1>
                <h1 class="headlabel">If you already have an account, just sign in and start to gossip.</h1>
                <h1 class="headlabel">If not, you need to be registered.</h1>
                <h1 class="headlabel">
                    Good luck!
                </h1>
                <h1></h1>

            </div>
            <div class="col-md-2 col-xs-1 col-lg-2 col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-0 col-lg-3 col-sm-3"></div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <p style="text-align:center"> <button class="but" type="submit" name="action" value="signin">Sign In</button></a>
            </div>

            <div class="col-md-3 col-xs-0 col-lg-3 col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-0 col-lg-3 col-sm-3"></div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <p style="text-align:center"><button class="but" class="but" type="submit" name="action" value="register">Register</button>
            </div>
            <div class="col-md-3 col-xs-0 col-lg-3 col-sm-3"></div>
        </div>
       
        </form> 
    </div>
</body>
</html>